// Specific CSS for your home-page
.take-photo {
  width: 390px;
  height: 700px;
}
.card {
  width: 390px;
  height: 700px;
  margin: auto;
}

.test{

display: none;
}

.create-menu{
  background-color: white;
}

.title {
  color: white;
  text-align: center;

}
.general-home{
  width: 390px;
  height: 844px;
}
