.card {
height: fit-content;
margin-top: 30%;
border-color: black;
border: solid 1.5px;
box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.card-body {
  padding: 40px;
}

.card-title {
  text-align: center;
  font-size: 30px;
}

.card-text {
  text-align: center;
}

.submit-button {
  margin: 5px 5px 5px 55px;
}

.btn-feedback {
background-color: black;
border-color: white;
color: white;

  &:hover {
  border-color: rgb(46, 134, 250);
  color: rgb(46, 134, 250);
  transition: 300ms;
  }
}

.back-link {
  color: white;
  float: left;
  font-family: 'Allura';
  font-size: 24px;


  &:hover {
    color: rgb(46, 134, 250);
    transition: 300ms;
    }
}
