
<!--
<html><head>
</head><body>
<div class="picture-container" style="max-width: 390px; nax-height: 830px;">
    <video class="vh-100" src="" ></video>
    <input type="file" name="image" accept="image/*" capture="environment">
</div>
<button id='flipCamera'>Flip</button>
</body>
<script>
  var front = false;
var video = document.querySelector('video');
  document.getElementById('flipCamera').onclick = function() { front = !front; };
  var constraints = { video: { facingMode: (front? "user" : "environment"), width: 640, height: 480  } };
  navigator.mediaDevices.getUserMedia(constraints)
  .then(function(mediaStream) {
    video.srcObject = mediaStream;
    video.onloadedmetadata = function(e) {
    video.play();
};
})
.catch(function(err) { console.log(err.name + ": " + err.message); })
</script></html>
-->


<%# <input type="file" name="image" accept="image/*" capture> %>

<div class='general-home container'>
  <div class="title">
    <h1><strong>Food Me</strong></h1>
  </div>
  <div class="logo">
    <img src='' class='logo-pic'>
  </div>
  <div class='d-flex justify-content-center'>
    <%= simple_form_for(@menu, url: text_extract_path) do |f| %>
            <label id="upload">
            <%= image_tag src="upload.svg"%>
              <span style="display:none;">
                <%=f.input :photo, as: :file, label_html: {class: 'test'}, input_html: { class: "test2" } %>
              </span>
            </label>
            <br>
            <label>
            <button class="btn btn-primary" id="upload-submit">Food me!</button>
              <span style="display:none;">
                <%= f.button :submit, class:'create-menu' %>
              </span>
            </label>
        <% end %>
  </div>
</div>
