<h1>Pages#home</h1>
<%= simple_form_for(@menu, url: send_path, method: :post) do |f| %>
      <img src="https://res.cloudinary.com/tf-lab/image/upload/pg_1/menu/dd50e6b2-79a6-4b06-b106-16e178d32621/20463deb-ce19-4419-afe9-a141fe6e6307.jpg">
      <%= f.button :submit %>

    <% end %>
