<!--  <div class="container">
  <div class="back-button" style="margin: 20px; font-size: 20px;">
    <%= link_to new_user_session_path do %>
    <img width="48" height="48" src="https://img.icons8.com/badges/48/circled-left-2.png" alt="circled-left-2"/>
      <%# <button type="button"><i class="fa-solid fa-arrow-left-long"></i></button> %>
    <% end %>
  </div>
-->
  <div class="row">
    <% @dishes.each do |dish| %>
      <%= link_to dish_path(dish) do %>
      <p><%= dish.title %></p>
        <swiper-container navigation="false" class="my-swiper-container col-12 col-lg-4" pagination="true" scrollbar="false" effect="coverflow">
          <% dish.photos.each do |photo| %>
            <swiper-slide>
              <div class="card-category" alt="First slide">
                <%= cl_image_tag photo.key,
                  transformation: [
                    {:width=>400, :height=>300, :crop=>"fill"},
                    {:overlay=>{:font_family=>"Cookie", :font_size=>40, :font_weight=>"bold", :text=>"#{dish.title}"}, :color=>"#fff"},
                    {:angle=>0, :flags=>"layer_apply", :x=>10, :y=>10}
                  ],
                  height: 300, width: 400, crop: :fill %>
              </div>
            </swiper-slide>
          <% end %>
        </swiper-container>
      <% end %>
    <% end %>
  </div>
</div>
