.swipe-box {
  padding: 10px;
}

.back-button {
  // position: absolute;
  z-index: 2;
  top: 4px;
  left: 12px;
}

.btn-home {
border-color: white;
color: white;

  &:hover {
  border-color: rgb(46, 134, 250);
  color: rgb(46, 134, 250);
  transition: 300ms;
  }
}
