body {background-image: url('https://img.freepik.com/free-photo/marble-texture-background-pattern_1339-7554.jpg?w=1480&t=st=1693366829~exp=1693367429~hmac=83f3bd3fbf918ecfce497b10a32e1fe2b70e9a74523d275dead14c7adea56713');
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Raleway', sans-serif;
}
