body {
  background-image: url("background.jpg"), url("invertbackground.jpg");
  background-repeat: no-repeat;
  background-position: top, center, bottom;
}

.card-category {
  background-size: cover;
  background-position: center, repeat-x;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  border-radius: 20px;
}

.my-swiper-container {
  padding: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0;
}

.swiper-pagination-bullet {
  background-color: white !important;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
